<div class="container">
  <div class="row1 headerValue">
    <div class="col-md-2 background">
      <div class="col-md-3 nopadding">
        <img
          src="assets/images/headerRight.jpg"
          class="img-header"
          alt="Cinque Terre"
        />
      </div>
    </div>
    <div class="col-md-8 background">
      <div class="containerHeader">
        <div class="headerTitle rounded ">
          <p class="headerStyle">
            <strong>FACULTY OF ELECTRONICS</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2  background ">
      <div class="col-md-3 nopadding">
        <img
          src="assets/images/headerLeft.jpg"
          class="img-header"
          alt="Cinque Terre"
        />
      </div>
    </div>
  </div>
  <div class="row2">
    <div class="col-md-12 navmenu">
      <div class="col-sm-2  navmenu ">
        <p class="nav-text">
          <strong><a class="class-a" [routerLink]="['']">HOME</a></strong>
        </p>
      </div>
      <div class="col-sm-2  navmenu class-a">
        <p class="nav-text">
          <strong
            ><a class="class-a" [routerLink]="['/faculty']">FACULTY</a></strong
          >
        </p>
      </div>
      <div class="col-sm-2  navmenu">
        <p class="nav-text"><strong>ERP</strong></p>
      </div>
      <div class="col-sm-2  navmenu">
        <p class="nav-text"><strong>COURSES</strong></p>
      </div>
      <div class="col-sm-2  navmenu">
        <p class="nav-text"><strong>LIBRARY</strong></p>
      </div>
      <div class="col-sm-2  navmenu">
        <p class="nav-text"><strong>PUBLICATIONS</strong></p>
      </div>
    </div>
  </div>
  <div class="row3">
    <div class="col-md-12 containerRowHeight1 nopadding background">
      <div class="col-md-3 middleColunm1 ">
        <div class="row">
          <img
            src="assets/images/image3.jpg"
            class="img-rounded"
            alt="Cinque Terre"
          />
        </div>
        <div class="row right-nav">
          <div class="row-fluid right-nav ">
            <div
              class="span2 borderbottom right-nav-height right-sidenav bk-color"
            >
              <p class="nav-text"><strong>DEAN PAGE</strong></p>
            </div>
            <div class="span2  borderTop right-nav-height right-sidenav">
              <p class="nav-text"><strong>ORGS</strong></p>
            </div>
            <div class="span2  borderTop right-nav-height right-sidenav">
              <p class="nav-text"><strong>CCO</strong></p>
            </div>
            <div class="span2  borderTop right-nav-height right-sidenav">
              <p class="nav-text"><strong>PHOTO GALLERY</strong></p>
            </div>
            <div class="span2  borderTop right-nav-height right-sidenav">
              <p class="nav-text"><strong>EVENTS</strong></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 middleColunm1 nopadding">
        <div class="col-md-12 nopadding outercontainer">
          <div class="col-md-4 nopadding">
            <img
              src="assets/images/image2.jpg "
              class="midimg-1-rounded nopadding"
              alt="Cinque Terre"
            />
          </div>
          <div class="col-md-4 nopadding">
            <img
              src="assets/images/image2.jpg"
              class="midimg-2-rounded"
              alt="Cinque Terre"
            />
          </div>
          <div class="col-md-4 nopadding">
            <img
              src="assets/images/image2.jpg"
              class="midimg-3-rounded"
              alt="Cinque Terre"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row6">
    <div
      class="col-md-2 borderTop borderbottom borderLeft borderRight 
        rowHeight left-small-sidenav"
    >
      <p class="nav-text"><strong>ACHIEVEMENT</strong></p>
    </div>
    <div
      class="col-md-2 borderTop borderbottom borderBottom  
      borderRight rowHeight left-small-footer-sidenav"
    >
      <p class="nav-text"><strong>LESSON PLAN</strong></p>
    </div>
    <div
      class="col-md-2 borderTop borderbottom borderBottom  borderRight rowHeight left-small-footer-sidenav"
    >
      <p class="nav-text"><strong>WEEKLY TRG</strong></p>
    </div>
    <div
      class="col-md-2 nopadding borderTop borderbottom borderBottom  borderRight rowHeight left-small-footer-sidenav"
    >
      <p class="nav-text"><strong>DAILY P&S</strong></p>
    </div>
    <div
      class="col-md-2 borderbottom borderTop borderBottom  borderRight rowHeight left-small-footer-sidenav"
    >
      <p class="nav-text"><strong>EVENTS</strong></p>
    </div>
    <div
      class="col-md-2 borderbottom borderTop borderBottom  borderRight rowHeight left-small-footer-sidenav"
    >
      <p class="nav-text"><strong>INSTRLOADING</strong></p>
    </div>
  </div>
</div>
