<div class="container">
  <div class="row1 headerValue">
    <div class="col-md-2 background">
      <div class="col-md-3 nopadding">
        <img
          src="assets/images/headerRight.jpg"
          class="img-header"
          alt="Cinque Terre"
        />
      </div>
    </div>
    <div class="col-md-8 background">
      <div class="containerHeader">
        <div class="headerTitle rounded ">
          <p class="headerStyle">
            <strong
              >FACULTY OF ELECTRONICS</strong
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2  background ">
      <div class="col-md-3 nopadding">
        <img
          src="assets/images/headerLeft.jpg"
          class="img-header"
          alt="Cinque Terre"
        />
      </div>
    </div>
  </div>
  <div class="row2">
    <div class="col-md-12 navmenu">
      <div class="col-sm-2  navmenu ">
        <p class="nav-text"><strong><a class="class-a"[routerLink]="['']" >HOME</a></strong></p>
      </div>
      <div class="col-sm-2  navmenu class-a">
        <p class="nav-text"><strong><a class="class-a" [routerLink]="['/faculty']" >FACULTY</a></strong></p>
      </div>
      <div class="col-sm-2  navmenu">
        <p class="nav-text"><strong>ERP</strong></p>
      </div>
      <div class="col-sm-2  navmenu">
        <p class="nav-text"><strong>COURSES</strong></p>
      </div>
      <div class="col-sm-2  navmenu">
        <p class="nav-text"><strong>LIBRARY</strong></p>
      </div>
      <div class="col-sm-2  navmenu">
        <p class="nav-text"><strong>PUBLICATIONS</strong></p>
      </div>
    </div>
  </div>
  <div class="row3">
    <div class="col-md-12 containerRowHeight1 nopadding background">
      <div class="col-md-3 rightImageRowHeight ">
        <img
          src="assets/images/image3.jpg"
          class="img-rounded"
          alt="Cinque Terre"
        />
      </div>
      <div class="col-md-6 middleColImage">
        <div class="col-md-3 nopadding">
          <img
            src="assets/images/image2.jpg"
            class="img2-rounded"
            alt="Cinque Terre"
          />
        </div>
        <div class="col-md-3 nopadding">
          <img
            src="assets/images/image4.jpg"
            class="img3-rounded"
            alt="Cinque Terre"
          />
        </div>
      </div>
      <div class="col-md-3 nopadding">
        <div class="row-fluid ">
          <div class="span2 borderbottom borderLeft rowHeight right-sidenav bk-color">
            <p class="nav-text"><strong>QUICK LINK</strong></p>
          </div>
          <div class="span2 borderLeft borderTop rowHeight right-sidenav">
            <p class="nav-text"><strong>ARMY WEB</strong></p>
          </div>
          <div class="span2 borderLeft borderTop rowHeight right-sidenav">
            <p class="nav-text"><strong>MS WEB</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row4">
    <div class="col-md-12 containerRowHeight1 nopadding background">
      <div class="col-md-3 nopadding">
        <div class="row-fluid ">
          <div class="span2 borderbottom borderRight rowHeight right-sidenav bk-color">
            <p class="nav-text"><strong>COMDTS PAGE</strong></p>
          </div>
          <div class="span2 borderRight borderTop rowHeight right-sidenav">
            <p class="nav-text"><strong>HISTORY</strong></p>
          </div>
          <div class="span2 borderRight borderTop rowHeight right-sidenav">
            <p class="nav-text"><strong>ACHIEVEMENTS</strong></p>
          </div>
          <!-- <div class="span2 borderbottom borderRight rowHeight">Left Row 1</div>
          <div class="span2 borderRight borderTop rowHeight">Left Row 2</div> -->
        </div>
      </div>
      <div class="col-md-6 middleCol nopadding  ">
        <div class="col-md-6 middleColImage">
          <div class="col-md-6 nopadding">
            <img
              src="assets/images/image5.jpg"
              class="img4-rounded"
              alt="Cinque Terre"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3 nopadding">
        <div class="row-fluid ">
          <div class="span2 borderbottom borderLeft rowHeight right-sidenav">
            <p class="nav-text"><strong>EME RECORDS</strong></p>
          </div>
          <div class="span2 borderLeft borderTop rowHeight right-sidenav">
            <p class="nav-text"><strong>TEI</strong></p>
          </div>
          <div class="span2 borderLeft borderTop rowHeight right-sidenav">
            <p class="nav-text"><strong>TRI INSTITUDES</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row5">
    <div class="col-md-12 containerRowHeight2 nopadding background">
      <div class="col-md-2 nopadding">
        <div class="row-fluid ">
          <div
            class="span2 borderbottom borderBottom  borderRight rowHeight left-small-sidenav"
          >
            <p class="nav-text"><strong>PHOTO GALLEY</strong></p>
          </div>
          <div
            class="span2 borderRight borderBottom rowHeight left-small-sidenav"
          >
            <p class="nav-text"><strong>EVENTS</strong></p>
          </div>
          <div
            class="span2 borderbottom borderRight rowHeight left-small-sidenav"
          >
            <p class="nav-text"><strong>TLE DIR</strong></p>
          </div>
          <div class="span2 borderRight borderTop rowHeight left-small-sidenav">
            <p class="nav-text"><strong>INFO</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-8 middleCol nopadding">
        <!-- <div class="row"> -->
        <div class="col-sm-4 th1Class nopadding">
          <marquee direction="up" height="270">
            <h5 class="h5class">DAILY PARADE</h5>
            <h5 class="h5class">STATE</h5>
            <h5 class="h5class">IMP FORMS</h5>
            <h5 class="h5class">CYBER</h5>
            <h5 class="h5class">ADVISORY</h5>
            <h5 class="h5class">e-happiness</h5>
          </marquee>
        </div>
        <div class="col-sm-4 nopadding">
          <div class="row-fluid ">
            <div class="th2Class borderBottom middle-tile">
              <p class="nav-text"><strong>SOCAIL CALENDER</strong></p>
            </div>
            <div class="th2Class borderBottom middle-tile">
              <p class="nav-text"><strong>BIRTHDAY & ANNIVERSARY</strong></p>
            </div>
            <div class="th2-1Class"></div>
          </div>
        </div>
        <div class="col-sm-4 nopadding">
          <div class="row-fluid ">
            <div class="th3Class borderBottom middle-tile">
              <p class="nav-text"><strong>MOVIE OF WEEK</strong></p>
            </div>
            <div class="th3-1Class">
              <img
                src="assets/images/image6.jpg"
                class="img6-rounded"
                alt="Cinque Terre"
              />
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <div class="col-md-2 nopadding">
        <div class="row-fluid ">
          <div
            class="span2 borderbottom borderLeft rowHeight right-small-sidenav"
          >
            <p class="nav-text"><strong>COMD HQ</strong></p>
          </div>
          <div
            class="span2 borderLeft borderTop borderBottom rowHeight right-small-sidenav"
          >
            <p class="nav-text"><strong>EME DTE</strong></p>
          </div>
          <div
            class="span2 borderbottom borderLeft rowHeight right-small-sidenav"
          >
            <p class="nav-text"><strong>MT DTE</strong></p>
          </div>
          <div class="span2 borderLeft borderTop rowHeight right-small-sidenav">
            <p class="nav-text"><strong>EVENTS</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row6">
    <div class="col-md-2 borderbottom borderBottom borderRight 
      rowHeight left-small-sidenav">
      <p class="nav-text"><strong>CONTACT US</strong></p>
    </div>
    <div class="col-md-2 borderbottom borderBottom  
    borderRight rowHeight left-small-footer-sidenav">
      <p class="nav-text"><strong>ABOUT US</strong></p>
    </div>
    <div
      class="col-md-2 borderbottom borderBottom  borderRight rowHeight left-small-footer-sidenav"
    >
      <p class="nav-text"><strong>NEW LINKS</strong></p>
    </div>
    <div
      class="col-md-2 nopadding borderbottom borderBottom  borderRight rowHeight left-small-footer-sidenav"
    >
      <p class="nav-text"><strong>DIGITAL</strong></p>
    </div>
    <div
      class="col-md-2 borderbottom borderBottom  borderRight rowHeight left-small-footer-sidenav"
    >
      <p class="nav-text"><strong>DOWNLOADS</strong></p>
    </div>
    <div
      class="col-md-2 borderbottom borderBottom  borderRight rowHeight left-small-footer-sidenav"
    >
      <p class="nav-text"><strong>EHL</strong></p>
    </div>
  </div>
</div>
